{% extends 'base.html' %}

{% block title %}Home |{% endblock title %}

{% block homeactive %} active{% endblock homeactive %}

{% block body %}
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Roblogs - Blogging Heaven</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in
                previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to
                your liking.</p>
            <a role="button" href="/blog" class="btn body-green btn-lg" type="button">Go To Blogs</a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mb-2">Popular BlogPost</h2>
    {% for post in posts|slice:":4" %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 body-fg">{{post.category}} ({{post.views}} Views)</strong>
            <h3 class="mb-0"><a class="text-dark text-decoration-none" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <div class="mb-1 text-muted">By <strong>{{post.author}}</strong></div>
            <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:200}}....</div></p>
            <div class="my-2">
            <a href="/blog/{{post.slug}}" role="button" class="btn body-green">Continue reading</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock body %}

{% block js %}
    <script>
        let previews = document.getElementsByClassName('preview');
        Array.from(previews).forEach((element)=>{
            element.innerHTML = element.innerText;
        });
    </script>
{% endblock js %}