/* teal green #167D7F
/* teal #29A0B1
spearmint #98D7C2
mint #DDFFE7 
#fff3cd

::-moz-selection { 
    background: lightblue; 
}

::selection {
    background: lightblue; 
}


/* .navbar-nav li a{
    color: #167D7F;
} */
/* 
.navbar-light .navbar-nav .nav-link {
    color: rgb(207, 207, 207);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
} 

.logo-fg{
    font-weight: bold;
} */
.nav-bg{
    background-color: #167D7F;
}

::-moz-selection { background: #C9F0DD; }
::selection { background: #C9F0DD; }

.body-fg{
    color: #259aac;
}

.badge-color{
    color: #259aac;
    background-color: bg-light;
}

.vaccum{
    background-color: #C9F0DD;
    padding: 0%;
}

.body-link{
    color: #259aac;
}

.body-link:hover{
    color: #1e7886;
}

.body-green{
    background-color: #238b9b;
    color: white;
    border-color: #0C4B33;
}

.body-green:hover{
    background-color: #259aac;
    border-color: #0C4B33;
}

.spear-mint{
    background-color: #DDFFE7;
}