.nav-bg{
    background-color: #167D7F;
}

::-moz-selection { background: #C9F0DD; }
::selection { background: #C9F0DD; }

.body-fg{
    color: #259aac;
}

.justify-content-center{
    text-align: center;
}

.badge-color{
    color: #259aac;
    background-color: bg-light;
}

.vaccum{
    background-color: #C9F0DD;
    padding: 0%;
}

.body-link{
    color: #259aac;
}

.body-link:hover{
    color: #1e7886;
}

.body-green, .btn-linked{
    background-color: #238b9b;
    color: white;
    border-color: #0C4B33;
}

.body-green:hover, .btn-link:hovered{
    background-color: #259aac;
    border-color: #0C4B33;
    color: white;
}

.spear-mint{
    background-color: #DDFFE7;
}