{% extends 'base.html' %}

{% block title %}BlogPost |{% endblock title %}

{% block body %}
<div class="container my-6">
    <article class="blog-post my-4">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
        
      </article>
</div>
<div class="container">
  <h2>Comments</h2>
  <div class="row my-3">
    <div class="col-md-2 bg-secondary">Image here</div>
    <div class="col-md-10 bg-light"><b>HarshdeepSingh:</b> Best Blog Ever Seen</div>
  </div>
</div>
{% endblock body %}
